@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%;
    /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

.info {
    color: hsla(265, 63%, 55%, 1);
}

.intro {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: hsla(265, 63%, 55%, 1);
}

.punt {
    font-weight: bold;
    color: green;
    text-align: center;
    padding: 10px;
    display: flex;
}

.puntRood {
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 10px;
    display: flex;
}

.concurrentie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}

.analy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
}

.posNeg {
    padding: 20px;
}

.scenarios {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(265, 63%, 55%, 1);
    color: white;
}

.scenarios p {
    width: 300px;
}

.horsce {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}
.styleGuide {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.titleStyle {
    color:black;
    text-align: left;
}

.nav {
    background-color: black;
    width: 50%;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.knopNav {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.knopNav:hover {
    color: hsla(265, 63%, 55%, 1);
}

.knopNav:focus {
    border-bottom: 1px solid white;
}


.navLineUp {
    background-color: black;
    width: 50%;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
}



.knopLine {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid hsla(265, 63%, 55%, 1);
    border-radius: 20px;

}

.knopLine:hover {
    border: 1px solid white;
}

.knopLine:focus {
background-color: hsla(265, 63%, 55%, 1);
}


.navLineUp ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
    align-items: center;
    justify-content: space-between;
}

.marginR {
    margin-right: 200px;
}

.socials {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    height: 100px;
    width:50%;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 20px;
    height: 20%;
    width: 20px;
    font-size: 22px;
    background-color: hsla(265, 63%, 55%, 1);
    border-radius: 50px;
}

i:hover {
    background-color: white;
    color: black;
}